<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registrar Cita</title>
</head>
<body>
<h1>Registrar/Editar Cita</h1>
<form th:action="@{/citas}" th:object="${cita}" method="post">
    <label>Doctor:</label>
    <input type="text" th:field="*{doctor}"><br>
    <label>Paciente:</label>
    <input type="text" th:field="*{paciente}"><br>
    <label>Fecha:</label>
    <input type="date" th:field="*{fecha}"><br>
    <button type="submit">Guardar</button>
</form>
</body>
</html>
