<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Pacientes</title>
</head>
<body>
<h1>Lista de Pacientes</h1>
<a th:href="@{/pacientes/nuevo}">Registrar nuevo paciente</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Password</th>
        <th>Acciones</th>
    </tr>
    <tr th:each="paciente : ${pacientes}">
        <td th:text="${paciente.id}"></td>
        <td th:text="${paciente.nombre}"></td>
        <td th:text="${paciente.email}"></td>
        <td th:text="${paciente.password}"></td>
        <td>
            <a th:href="@{'/pacientes/editar/' + ${paciente.id}}">Editar</a>
            <a th:href="@{'/pacientes/eliminar/' + ${paciente.id}}">Eliminar</a>
        </td>
    </tr>
</table>
</body>
</html>
